@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('./assets/fonts/ArchitectsDaughter-Regular.ttf');
}

* {
  font-family: ArchitectsDaughter, sans-serif;
}

.main {
  padding: 50px;
}

.max-height-80-vh {
  max-height: 70vh;
}

#notification {
  position: absolute;
  margin: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: burlywood;
  font-size: 2rem;
  z-index: 1000;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 170, 124, 1) 0%, rgba(52, 52, 8, 1) 80%);
  padding: 26px;
  border-radius: 12px;
  display: none;
}

.display-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

section {
  margin: 10px;
  width: 35%;
  padding: 40px;
}

#first-section {
  overflow: scroll;
}

.right-section {
  float: right;
}

.refresh-button-container {
  align-items: center;
}

#refresh-button {
  background-color: beige;
  color: red;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  vertical-align: middle;
}

#refresh-button:hover {
  background-color: #ccc;
  color: black;
}

table {
  border: solid lightgray 1px;
  width: 100%;
  border-radius: 6px;
  padding: 20px;
}

td {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

tr:nth-child(odd) {
  background: #ccc;
  color: beige;
}

tr:nth-child(even) {
  background: #fff;
}

input {
  display: block;
  margin: 15px;
  border-radius: 5px;
}

.alert-color {
  color: white;
  border: solid rgb(170, 118, 118) 2px;
}
