
.main {
  padding: 50px;
}

.display-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

section {
  margin: 10px;
  width: 35%;
  padding: 40px;
}

.right-section {
  float: right;
}

.refresh-button-container {
  align-items: center;
}

#refresh-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  vertical-align: middle;
}

#refresh-button:hover {
  background-color: #CCC; 
  color:black; 
}

table {
  border: solid lightgray 1px;
  width: 100%;
  border-radius: 6px;
  padding: 20px;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
  background: #CCC
}

tr:nth-child(even) {
    background: #FFF
}

input {
  display: block;
  margin: 15px;
}